html
{
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #000000;
  color: #cccccc;
  font-family: monospace;
}

body
{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: rgb(20, 20, 26);
}
