html
{
  margin: 0;
  height: 100%;
  background: #000000;
  color: #cccccc;
  font-family: monospace;
}

#parentLayout
{
  display: flex;
  height: 100%;
}

#terminal
{
  flex: 1;
}

#sidebar
{
  width: 220px;
  border-left: 1px solid #333333;
  padding: 10px;
  background: #050505;
}
